@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
.dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}

body{
	font-family: Poppins;
	scroll-behavior: smooth;
}


.top_bar{
	background-color: #7aaec4;
	height: 2.8rem;
	padding: .5rem 0;

}

.top_bar a{
	color:white;
	text-decoration: none;
	font-size: 1.1rem;
}


.navbar-nav .nav-item{
	font-size:5px;
	margin-left: 8px;
	padding-bottom: 10px;
	background-color: 
}

.nav-link{
	color: black !important;
	font-size: 15px;
	margin:5px;
}
.nav-link:hover{
	color: #00e8e8 !important;
}
.active .nav-link{
	color :#00e8e8 !important;
}


.navbar-nav .nav-item .nav-link:hover{
	color:red;
}

.site-container-one{
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: url(../img/farm.jpg);
	background-size:cover;
	background-attachment:fixed;
}

.site-container-one .desc{
padding-left: 60px;
color: white;
}

.btn-1{
	padding-left: 50px;
	padding-top: 15px; 
	transition: 0.5s;
}
.btn-1:hover{
	letter-spacing:2px;
}

.site-container-three{
	background-color: #00008B;
	box-sizing: border-box;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;

}

.products{
	margin-top: 50px;
	margin-bottom: 50px;
}

.news{
	margin-top: 50px;
}

.second-to-last-section .container-fluid .row .text-center{
	padding-top: 50px;
	padding-bottom:100px; 
	background-color:#add8e6;
	text-decoration: none;
	

}

.footer{
	padding-top:50px;
	background-color: #00008B;
	color: white;
	padding-bottom: 50px;
}

.fa-facebook{
	color:#4267B2;
}
.fa-twitter{
	color:#1DA1F2;
}
.fa-instagram{
	color:#3f729b;
}
.fa-youtube{
	color:#FF0000;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover,.fa-youtube:hover{
	color: black;
}


.second-to-last-section .container-fluid .row .text-center:hover{
	background-color:#ffff94;
	color:blue !important;
	}


/*=========================CONTACT SECTION=============*/
.about_image{
	background-image: url(../img/big.jpg);
	padding-top: 200px;
	background-size:cover;
	background-attachment:fixed;
	padding-bottom:150px; 
}

.about_message{
	background-color: #00008B;
	color:white;
	padding-top: 20px;
	padding-bottom: 30px;
}

.form-section{
	margin-top:50px;
	font-size: 15px;
}

.address p{
	font-weight:600;
}

.address a{
	text-decoration: none;
	font-weight:600;
	font-family:Work Sans;
}

.address{
	font-family:Work Sans;
	padding-left: 100px;
	padding-top: 30px;
}


/*Form session*/
form{
	margin-top: 150px;
	
}

.form-section div{

}
/*Form session ends*/

/*Services*/
#services{
	background-color:#f4f5f8;
	padding-top: 30px;
	padding-bottom: 60px;
}
.services-title{
	text-align: center;
	font-weight: 500;
	font-size: 40px;
	background-image: url(../img/agric1.jpg);
	padding-top: 100px;
	background-size: cover;
	padding-bottom: 100px;
	color: white;
	background-attachment: fixed;
}
.service-details{
	padding-top: 40px;
}
.services-selection{
	padding:5px;
	margin-bottom:40px;
	background-color:#fff;
	border:1px solid black;
	border-radius:8px;
	box-shadow:0px 15px 30px rgba(102,113,228,0.13);  
	text-align: center;
}
.service-icon{
	font-size: 30px;
	margin:20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	background-color: #f4f5f8;
	border-radius: 50%;
}

.services-description p:nth-child(1){
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 10px;
}

.services-description p:nth-child(2){
	font-size: 14px;
	font-weight: 400;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 20px;
	color: #748182;

}

.services-selection:hover .service-icon{
	color: #fff;
	background-color: #212529;
	transition: 1s;
}

.services-selection:hover{
	box-shadow:0px 15px 30px rgba(102,113,228,0.50);
	transition: 1s;  
}


/*================ MARKETPLACE ==========================*/
.supply{
	background-color: #99ccff;
	padding-right: 20px;
	padding-top: 10px;
	font-size: 16px;
	padding-left: 30px;
	
}

.fund{
	background-color: #fed8b1;
	padding-right: 30px;
	padding-top: 10px;
	font-size: 16px;
	padding-left: 20px;
}
.head{
	padding-bottom: 20px;
	font-size: 80px;
	font-family:Kaushan Script;
}


/*================ABOUT PAGE=====================*/

.about_us{
	background-image: url(../img/organic.jpg);
	padding-top: 200px;
	background-size:cover;
	background-attachment:fixed;
	padding-bottom:150px;
	color: white;
}

.about{
	font-size: 50px;
}

 li a{
	text-decoration:none;
	color: white;
}